.body {
    background-image: url(imagens/fundoCalc.jpeg);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.titulo {
    display: none;
}

.sub-titulo {
    font-size: 67px;
}

.main {
    display: flex;
    justify-content: center;
}

.form {
    background-color: rgba(223, 221, 221, 0.8);
    width: 50%;
    height: 100%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px rgba(10, 10, 10, 0.2);
    margin-bottom: 80px;
}

.fieldset {
    border: none;
    padding: 10px;
}

.titulo-calculadora {
    width: 100%;
    height: 30%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: cadetblue;
    padding: 0px;
    text-align: justify;
    margin-bottom: 20px;
}

.texto-calculadora {
    padding: 10px 20px;
    line-height: 1.3;
}

.input {
    font-size: 16px;
    width: 200px;
    height: 15px;
    padding: 3px;
    margin-left: 5px;
}

.message {
    margin: auto 20px;
    background-color: rgb(188, 229, 234, 0.7);
    border-radius: 10px;
}

#button-calcular,
#button-reset {
    background-color: cadetblue;
    border-radius: 5px;
    font-size: 16px;
    width: 180px;
    height: 40px;
    margin: auto auto 10px 20px;
}

@media only screen and (max-width: 600px) {
    .form {
        width: 80%;
        height: 100%;
        margin-top: 8%;
    }
    .message {
        width: 85%;
        margin: auto 7%;
        background-color: rgb(188, 229, 234, 0.7);
        border-radius: 10px;
    }
    .sub-titulo {
        font-size: 39px;
    }
}