.fieldset {
  border: none;
}

form {
  /* border: orangered 2px solid; */
  width: 600px;
}

main {
  display: flex;
  justify-content: center;
  color: #000000;
  font-family: cursive;
  font-size: 20px;
  background-image: url(imagens/fundoCalc.jpeg);
}

.sub-titulo {
  font-size: 35px;
  text-align: center;
  font-family: pokemon;
  color: #ffcb08;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #385fab;
  margin: 0px;
}

@font-face {
  font-family: pokemon;
  src: url(font/pokemon.ttf)
}