.titulo {
    display: none;
}

.fieldset {
    border: none;
}

.body {
    background-image: url(imagens/fundoCalc.jpeg);
}

form {
    background-color: rgba(223, 221, 221, 0.8);
    width: 600px;
    font-family: cursive;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px rgba(10, 10, 10, 0.2);
    margin: 1% 20% 10% 20%;
}

.sub-titulo {
    font-size: 50px;
}