body {
  background-image: url(imagens/fundo_paisagem.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.titulo {
  text-align: center;
  font-size: 10vw;
  margin: 30px;
  font-family: pokemon;
  color: #ffcb08;
  -webkit-text-stroke-width: 2px;
  /* largura da borda */
  -webkit-text-stroke-color: #385fab;
  /* cor da borda     */
}

@font-face {
  font-family: pokemon;
  src: url(font/pokemon.ttf)
}

.nav {
  top: 5%;
  right: 10%;
  /* margin-top: 10%; */
  width: 940px;
  text-align: right;
}

.item {
  display: inline;
  margin: 0 0 0 15px;
  border-radius: 5px;
  padding: 5px;
}

.item a {
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}

.item a:hover {
  color: rgb(30, 40, 131);
}

.filtros {
  display: inline-block;
  padding: 10px 0 0 15px;
}

.option {
  color: rgb(17, 24, 87);
  font-weight: bold;
}

.filtrar {
  padding: 50px 0 0 15px;
  color: rgb(17, 24, 87);
  font-size: 22px;
}

.pesquisa {
  width: 400px;
  height: 40px;
}

input#pesquisar {
  width: 200px;
  height: 20px;
  float: left;
  font-family: Georgia;
  font-size: 18px;
  border-radius: 6px;
}

input.btn {
  width: 16px;
  height: 16px;
  background-color: rgb(18, 19, 17);
  padding: 6px 6px;
  cursor: pointer;
  border-radius: 6px;
}

input#pesquisar:focus {
  border: solid 2px rgb(84, 106, 127);
} 

.legend {
  color: rgb(17, 24, 87);
  font-weight: bold;
  font-size: 18px;
  ;
}

.card-container {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  position: relative;
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  background-color: rgba(223, 221, 221, 0.5);
  box-shadow: 4px 4px rgb(31, 126, 12, 0.4);
  border-radius: 10px;
}

.back {
  background-color: rgba(223, 221, 221, 0.5);
  box-shadow: 4px 4px rgb(41, 117, 26, 0.4);
  border-radius: 10px;
  /*Primeiro vamos girar back a 180 graus. Como ele inicialmente estará de costas para nós, vamos rotacioná-lo.*/
  transform: rotateY(180deg);
  text-align: left;
}

#pokemonList .card-container {
  width: 160px;
  height: 250px;
  text-align: center;
  display: inline-block;
  margin: 10px;
}

footer {
  background-image: linear-gradient(to right, #639d25, #427768);
  height: 100px;
  color: beige;
  text-align: center;
  padding-top: 100px;
}

#pokemonList .card {
  background-color: rgb(167, 163, 163, 0, 4);
  width: 160px;
  height: 250px;
  text-align: center;
  display: inline-block;
  margin: 10px;
}

.invisible {
  display: none;
}

@media screen and (max-width: 490px) {
  .nav {
    width: auto;
    position: static;
  }
}
