.body {
  background-image: url(imagens/fundo_paisagem.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  display: inline;
}

/*header {
  position: fixed;
}
*/
.main {
  width: 980px;
  margin: auto;
}

.titulo,
#sub-titulo {
  font-size: 80px;
  text-align: center;
  font-family: pokemon;
  color: #ffcb08;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #385fab;
  margin: 0;
  padding: 40px 0px;
}

@font-face {
  font-family: pokemon;
  src: url(font/pokemon.ttf);
}

.nav {
  text-align: right;
}

.item {
  display: inline;
}

.item a {
  border-radius: 5px;
  box-shadow: 3px 3px rgba(10, 10, 10, 0.2);
  background: rgb(255, 255, 255, 0.7);
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  margin: 8px;
  padding: 6px;
}

.item a:hover {
  color: rgb(30, 40, 131);
}

.filtros {
  display: inline-block;
  padding: 10px 0 0 15px;
}

.option {
  color: rgb(17, 24, 87);
  font-weight: bold;
}

.legend {
  color: #000000;
  font-weight: bold;
  font-size: 25px;
}

#porcentagem-de-tipo-de-pokemon {
  border: none;
  border-radius: 10px;
  background-color: rgba(223, 221, 221, 0.7);
  height: 40px;
  width: 700px;
  text-align: center;
}

.card-container {
  perspective: 1000px;
}

.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  position: relative;
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

#pokemonList .card-container {
  display: inline-block;
  margin: 10px;
}

#pokemonList .card {
  background-color: rgb(167, 163, 163, 0, 4);
  width: 160px;
  height: 260px;
  display: inline-block;
  margin: 5px;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.front {
  text-align: center;
  background-color: rgba(223, 221, 221, 0.5);
  box-shadow: 4px 4px rgba(10, 10, 10, 0.3);
  border-radius: 10px;
  backface-visibility: hidden;
  padding: 3px;
}

.back {
  text-align: center;
  background-color: rgba(223, 221, 221, 0.5);
  box-shadow: 4px 4px rgba(10, 10, 10, 0.3);
  border-radius: 10px;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}


.imagem-doce {
  width: 20px;
  height: 20px;
}

.imagem-ovo {
  width: 15px;
  height: 20px;
}

.nome {
  display: inline;
}

#nome-pokemon {}

.imagem {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: cadetblue;
  /*background-image: url(imagens/paisagem-fundo-card.jpg); */
  /*background-color: rgba(221, 218, 51, 0.884);*/
  background-size: 160px 120px;
}


footer {
  background-image: linear-gradient(to right, #639d25, #427768);
  height: 25px;
  color: beige;
  text-align: center;
  padding-top: 25px;
}

.invisivel {
  display: none;
}

@media screen and (max-width: 490px) {
  .nav {
    width: auto;
    position: static;
  }
}
